<div *ngIf="!submit">

    <h2 mat-dialog-title>OTP Validation</h2>
    <div>Please check your email and confirm your account</div>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="OTPFormGroup">
          
            <ng-otp-input formControlName="otp" [config]="config" allowNumbersOnly="true">

            </ng-otp-input>
        </form>
        <button mat-button color="primary" (click)="validate()">Validate</button>
        <button mat-button mat-dialog-close>Cancel</button>

    </mat-dialog-content>
</div>
<div *ngIf="submit">
    <h2 mat-dialog-title>Success</h2>
    <div>Your account has been validated. please submit Your password</div>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="pswdFormGroup">
            <div class="form-field">
                <mat-form-field appearance="fill" class="form-full-height">
                  <mat-label>Enter new Password:</mat-label>
                  <input matInput type="text" placeholder="Ex. John" formControlName="pswd" 
                  autocomplete="new-email"  required>
                </mat-form-field>
              </div>
              <div class="form-field">
                <mat-form-field appearance="fill" class="form-full-height">
                  <mat-label>confirm New Password:</mat-label>
                  <input matInput type="text" placeholder="Ex. John" formControlName="cnfm_pswd" 
                  autocomplete="new-email"  required>
                </mat-form-field>
              </div>
        </form>
        <button mat-button color="primary" mat-dialog-close (click)="submit_pswd()">Submit</button>
        <button mat-button mat-dialog-close>Cancel</button>

    </mat-dialog-content>
</div>
